<header class="full main-layout">
    <div class="main-header ">
        <div class="logo ">
            <img src="../../assets/imgs/airbnb-logo.png" alt="logo">
        </div>


        <div class="search-container">
            <p class="search-item">AnyWhere</p>|
            <p class="search-item">Any Week</p>|
            <div>
                <p>Add Guest</p>
            </div>

        </div>

        <div class="app-settings">
            <p>Airbnb you home</p>
        </div>
    </div>
</header>