<header class="full main-layout">
    <div class="main-header ">
        <div class="logo ">
            <img src="../../assets/imgs/airbnb-logo.png" alt="logo">
        </div>


        <div class="main-container">
            <p class="item">AnyWhere</p>|
            <p class="item">Any Week</p>|
            <div class="flex gap-10 align-center">
                <p class="item-add">Add Guest</p>
                <div class="search-icon">
                    <i class="fa-solid  fa-magnifying-glass"></i>
                </div>
            </div>

        </div>

        <div class="sub-container flex align-center gap-10">
            <p>Airbnb you home</p>
            <i class="fa-solid fa-globe"></i>
        </div>
    </div>
</header>