:host {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    img {
        flex-grow: 1;
        max-width: 250px;
        border-radius: 10px;
    }

    .stay-contant {
        flex-basis: 20%;
    }
}